.container,
.container-fluid {
  width: 100%;
}

.row {
  width: 100%;
  padding: 5px 0;
}

.col-sm-0 {
  width: 0%;
  padding: 0 5px;
}

.col-sm-1 {
  width: 8.33333%;
  padding: 0 5px;
}

.col-sm-2 {
  width: 16.66667%;
  padding: 0 5px;
}

.col-sm-3 {
  width: 25%;
  padding: 0 5px;
}

.col-sm-4 {
  width: 33.33333%;
  padding: 0 5px;
}

.col-sm-5 {
  width: 41.66667%;
  padding: 0 5px;
}

.col-sm-6 {
  width: 50%;
  padding: 0 5px;
}

.col-sm-7 {
  width: 58.33333%;
  padding: 0 5px;
}

.col-sm-8 {
  width: 66.66667%;
  padding: 0 5px;
}

.col-sm-9 {
  width: 75%;
  padding: 0 5px;
}

.col-sm-10 {
  width: 83.33333%;
  padding: 0 5px;
}

.col-sm-11 {
  width: 91.66667%;
  padding: 0 5px;
}

.col-sm-12 {
  width: 100%;
  padding: 0 5px;
}

.offset-col-sm-0 {
  margin-left: 0%;
}

.offset-col-sm-1 {
  margin-left: 8.33333%;
}

.offset-col-sm-2 {
  margin-left: 16.66667%;
}

.offset-col-sm-3 {
  margin-left: 25%;
}

.offset-col-sm-4 {
  margin-left: 33.33333%;
}

.offset-col-sm-5 {
  margin-left: 41.66667%;
}

.offset-col-sm-6 {
  margin-left: 50%;
}

.offset-col-sm-7 {
  margin-left: 58.33333%;
}

.offset-col-sm-8 {
  margin-left: 66.66667%;
}

.offset-col-sm-9 {
  margin-left: 75%;
}

.offset-col-sm-10 {
  margin-left: 83.33333%;
}

.offset-col-sm-11 {
  margin-left: 91.66667%;
}

@media screen and (min-width: 720px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .col-md-0 {
    width: 0%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-1 {
    width: 8.33333%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-2 {
    width: 16.66667%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-4 {
    width: 33.33333%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-5 {
    width: 41.66667%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-7 {
    width: 58.33333%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-8 {
    width: 66.66667%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-9 {
    width: 75%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-10 {
    width: 83.33333%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-11 {
    width: 91.66667%;
    padding: 0 10px;
    display: inline-block;
  }

  .col-md-12 {
    width: 100%;
    padding: 0 10px;
    display: inline-block;
  }

  .offset-col-md-0 {
    margin-left: 0%;
  }

  .offset-col-md-1 {
    margin-left: 8.33333%;
  }

  .offset-col-md-2 {
    margin-left: 16.66667%;
  }

  .offset-col-md-3 {
    margin-left: 25%;
  }

  .offset-col-md-4 {
    margin-left: 33.33333%;
  }

  .offset-col-md-5 {
    margin-left: 41.66667%;
  }

  .offset-col-md-6 {
    margin-left: 50%;
  }

  .offset-col-md-7 {
    margin-left: 58.33333%;
  }

  .offset-col-md-8 {
    margin-left: 66.66667%;
  }

  .offset-col-md-9 {
    margin-left: 75%;
  }

  .offset-col-md-10 {
    margin-left: 83.33333%;
  }

  .offset-col-md-11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .col-lg-0 {
    width: 0%;
    padding: 0 10px;
  }

  .col-lg-1 {
    width: 8.33333%;
    padding: 0 10px;
  }

  .col-lg-2 {
    width: 16.66667%;
    padding: 0 10px;
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 10px;
  }

  .col-lg-4 {
    width: 33.33333%;
    padding: 0 10px;
  }

  .col-lg-5 {
    width: 41.66667%;
    padding: 0 10px;
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 10px;
  }

  .col-lg-7 {
    width: 58.33333%;
    padding: 0 10px;
  }

  .col-lg-8 {
    width: 66.66667%;
    padding: 0 10px;
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 10px;
  }

  .col-lg-10 {
    width: 83.33333%;
    padding: 0 10px;
  }

  .col-lg-11 {
    width: 91.66667%;
    padding: 0 10px;
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 10px;
  }

  .offset-col-lg-0 {
    margin-left: 0%;
  }

  .offset-col-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-col-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-col-lg-3 {
    margin-left: 25%;
  }

  .offset-col-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-col-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-col-lg-6 {
    margin-left: 50%;
  }

  .offset-col-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-col-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-col-lg-9 {
    margin-left: 75%;
  }

  .offset-col-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-col-lg-11 {
    margin-left: 91.66667%;
  }
}
