$primary-color: #cc9543;

.hidden {
    display: none;
}

.navbar {
    width: 100vw;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    top: 0;

    figure {
        display: flex;
        align-items: center;

        img {
            height: 60px;
        }

        figcaption {
            font-size: 1.2em;
        }

        a {
            text-decoration: none;
            color: $primary-color;
        }
    }

    ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        color: white;
        top: 0;

        img {
            height: 60px;
        }

        .dropdown div {
            text-align: center;
        }
    }

    .menu-icon svg {
        height: 30px;
    }

    #toggle {
        display: none;
    }

    #toggle:checked ~ ul {
        display: flex;
    }
}
