$col-sm-side-padding: 5;
$col-md-side-padding: 10;
$col-lg-side-padding: 10;

.container {
    width: 100vw;
    padding: 0 5px;
}

.row {
    width: 100%;
    padding: 5px 0;
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
        width: (100 / 12 * $i) + vw;
        padding: 0 $col-sm-side-padding + px;
    }
}

@for $i from 1 through 11 {
    .offset-col-sm-#{$i} {
        margin-left: ((100 / 12 + $col-sm-side-padding * 2) * $i) + vw;   
    }
}

@media screen and(min-width: 720px) {
    .container {
        width: 100vw;
        padding: 0 15px;
    }

    @for $i from 1 through 12 {
        .col-md-#{$i} {
            width: (100 / 12 * $i) + vw;
            padding: 0 $col-md-side-padding + px;    
        }
    }

    @for $i from 1 through 11 {
        .offset-col-md-#{$i} {
            margin-left: ((100 / 12 + $col-md-side-padding * 2) * $i) + vw;   
        }
    }
}

@media screen and(min-width: 1024px) {
    .container {
        width: 1024px;
        padding: 0 30px;
        margin: 0 auto;
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            width: (100 / 12 * $i) + vw;
            padding: 0 $col-lg-side-padding + px;    
        }
    }

    @for $i from 1 through 11 {
        .offset-col-lg-#{$i} {
            margin-left: ((100 / 12 + $col-lg-side-padding * 2) * $i) + vw;   
        }
    }
}
